*{
  padding:0;
  margin:0;
  font-family: tahoma;
}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-cnt{
  margin-top: 12em;
  display: flex;
  height: 200px;
  width:450px;
  padding: 1em 1em;
  background-color: rebeccapurple;
  color:white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.quiz{
  width:100%;
  height: 100%;
  display: flex;
}

.startquiz{
 width:100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.startquiz button{
  margin-top:2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: royalblue;
  color:white;
  width:40%;
  border: solid 2px white;
  padding:.2em .2em;
  border-radius:8px;
  cursor:pointer;
}

.questions, .answers{
  display: flex;
  height: 100%;
}

.questions{
  flex-direction: column;
  width:60%;
  margin-top: 1em;
  font-size: 14px;
}

.answers{
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  border-left:2px solid white;
}

.ans-btn{
  font-size: 12px;
  display: flex;
  height: 2em;
  width:100%;
  background-color: royalblue;
  color:white;
  border: solid 2px white;
  padding:.2em .2em;
  border-radius:8px;
  cursor:pointer;
}

.ans-btn + .ans-btn{
  margin-top:.4em;
  height: 2em;
}

.reset-btn{
  background-color: white;
  color:black;
  border: solid 2px white;
  padding:.2em .2em;
  border-radius:8px;
  cursor:pointer;
}


